@import 'mainStyle';
 
 // canvas scss

  body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh; /* Set the body height to full viewport height */
    margin: 0; /* Remove default margin */
  }
  #canvas {
    /* Your existing canvas styles */
    width: 800px;
    height: 800px;
    background-image: url('../../images/Ladder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    // border: 10px solid red;
  }
  
  #bomb, #coin {
    display: none;
  }

  #score {
    color: white;
  }