@import 'mainStyle'; // for global style

#cursorShadow {
    position: fixed;
    opacity: 20%;
    width: 150px; /* Adjust the width of the shadow as per your preference */
    height: 150px; /* Adjust the height of the shadow as per your preference */
    border-radius: 50%;
    background: linear-gradient(45deg, #84bcf5, #187696, #907ebd, #0c3b57);
    box-shadow: 20px 20px 20px rgba(18, 86, 155, 0.8), 0 0 50px rgba(18, 86, 155, 0.4), 0 0 100px rgba(18, 86, 155, 0.2);
    pointer-events: none; /* Ensure the shadow does not interfere with cursor interaction */
    z-index: -1; /* Set a high z-index to ensure the shadow is above other elements */
    transform: translate(-50%, -50%); /* Move the shadow to be centered around the cursor */
}

/* Main Container */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Login Form */
#LogInForm {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(24, 13, 46, 0.1);
  max-width: 350px;
  width: 90%;
}



/* Scoreboard Button */
#scoreboardBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 150px; /* Adjust the width as per your preference */
    height: 100px; /* Adjust the height as per your preference */
    background-image: url('../../images/podium_golden.jpg'); /* Replace 'path/to/your/background-image.jpg' with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 180px;
    cursor: pointer;
  }
/* Responsive Styles */

/* For small devices (up to 768px) */
@media screen and (max-width: 768px) {
  #LogInForm {
    width: 100%;
  }
}

/* For medium devices (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #LogInForm {
    max-width: 600px;
  }
}

/* For large devices (1024px and above) */
@media screen and (min-width: 1024px) {
  #LogInForm {
    max-width: 800px;
  }
}
