/* Main Styles */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lumanosimo', cursive;
}
body {
   /* Dark blue to light green gradient background */
   background: linear-gradient(45deg, #00060c, #012f3f, #0f0133, #044b74);
}
/* Main Container */
.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="submit"] {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Lumanosimo', cursive;
}

/* Reduce the width of the text box */
input[type="text"] {
  width: 95%; /* Adjust this value as per your preference */
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
.restart-button,.back-button {
  background-color: #a7d1fa;
  border: none;
  color: rgb(17, 16, 16);
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}